<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- pass in the config name as the first command line argument to MetadataGenerator -->
	<configSections>
		<section name="MOT.GMS" type="System.Configuration.NameValueSectionHandler"/>
		<section name="MOT.CRM" type="System.Configuration.NameValueSectionHandler"/>
		<section name="Barnardos.Gateway" type="System.Configuration.NameValueSectionHandler"/>
		<section name="Lamex" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<Barnardos.Gateway>
		<add key="url" value="https://p365barndev.crm11.dynamics.com/"/>
		<add key="mfaAppId" value="380ce93a-8cf8-4cf4-87dd-376d028052b1"/>
		<add key="mfaClientSecret" value="fzk8Q~Z0u5qU6Tj1sGjdjEFMrURScM1ckXYk~c6z"/>
		<add key="method" value="ClientSecret"/>
		<add key="domain" value=""/>
		<add key="ap" value=""/>
		<add key="solutions" value="EarlyBound"/>
		<add key="entities" value="team,email,annotation,queue,organization,webresource,candc_region"/>
		<add key="fetchFromAssemblies" value="false"/>
		<add key="seperateFiles" value="true"/>
		<add key="seperateEntityFiles" value="true"/>
		<add key="outDir" value="../../../../../../../P365/Barnardos/Plugins/Tests/Metadata"/>
	</Barnardos.Gateway>
	<MOT.GMS>
		<add key="url" value="https://p365-motabilitydev.crm11.dynamics.com/XRMServices/2011/Organization.svc"/>
		<add key="mfaAppId" value="fbd5b8ba-dab5-4547-93a4-e4d23668c298"/>
		<add key="mfaClientSecret" value=".bh8Q~sn7Angc5qVPg-byi67BqCIiKNJqFXdHdhY"/>
		<add key="method" value="ClientSecret"/>
		<add key="domain" value=""/>
		<add key="ap" value=""/>
		<add key="solutions" value="EarlyBound"/>
		<add key="entities" value="team,email,annotation,queue,organization,uom,uomschedule,pricelevel,sharepointdocumentlocation,task,sharepointsite,p365_sharepointconfiguration"/>
		<add key="fetchFromAssemblies" value="false"/>
		<add key="seperateFiles" value="true"/>
		<add key="seperateEntityFiles" value="true"/>
		<add key="outDir" value="../../../../../../../P365/Motability/GMS2/Plugins/MOTA.GMS.Plugins.Tests.462/Metadata"/>
	</MOT.GMS>
	<Lamex>
		<add key="url" value="https://lc-dev.crm11.dynamics.com/XRMServices/2011/Organization.svc"/>
		<add key="mfaAppId" value="6889e40d-e583-46d4-b7f0-9ba741ea2096"/>
		<add key="mfaClientSecret" value="7B~8Q~o5JqslEHvIJfUAqkgOR.OB~Ag~hW2~3bx9"/>
		<add key="method" value="ClientSecret"/>
		<add key="domain" value=""/>
		<add key="ap" value=""/>
		<add key="solutions" value="LamexConnectBase,TraderNotes"/>
		<add key="entities" value="team,email,annotation,queue,organization,uom,uomschedule,pricelevel"/>
		<add key="fetchFromAssemblies" value="false"/>
		<add key="seperateFiles" value="true"/>
		<add key="seperateEntityFiles" value="true"/>
		<add key="outDir" value="../../../../../../../P365/Lamex/Plugins/Lamex.Plugins.Tests/Metadata"/>
	</Lamex>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
	</startup>
</configuration>


