<?xml version="1.0" encoding="utf-8"?>
<!--<configuration>
  <appSettings>
    <add key="url" value="https://moddatdev.crm11.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="username" value="ppsa-donotreply@official.mod.uk" />
    <add key="password" value="Handbag Scallop Overfed Pelt Chlorine1" />
    <add key="domain" value="" />
    <add key="ap" value="" />
    <add key="solutions" value="ApprovalsPluginSteps,ApprovalsEntities,ApprovalsPlugins" />
    <add key="entities" value="team,email,teamtemplate,contact,knowledgearticle,cams_commitmentcase,cams_businesscase,annotation,queue"/> 
    <add key="fetchFromAssemblies" value="false" />
    <add key="projectPath" value="C:\dev\MOD\Digital Approvals\Plugins\MoD.DigitisingApprovals.TestSuite" />
    <add key="outDir" value="C:\dev\MOD\Digital Approvals\Tests\Metadata" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration> -->

<!-- <configuration>
	<appSettings>
		<add key="url" value="https://medit-cloud-dev.crm11.dynamics.com/XRMServices/2011/Organization.svc" />
		<add key="username" value="ppsa-donotreply@official.mod.uk" />
		<add key="password" value="Handbag Scallop Overfed Pelt Chlorine1" />
		<add key="mfaAppId" value="02a93f19-e024-4db6-8643-eaffc90d005e" />
		<add key="mfaClientSecret" value="5pd8Q~AwPwSXVTzeD1_xV0ucLWLFrDZKCe4P9dyq" />
		<add key="method" value="ClientSecret" />
		<add key="domain" value="" />
		<add key="ap" value="" />
		<add key="solutions" value="MCPluginSteps,MCTables,MCPlugins" />
		<add key="entities" value="team,email,annotation,queue,organization,msdyn_decisioncontract"/>
		<add key="fetchFromAssemblies" value="false" />
		<add key="seperateFiles" value="true" />
		<add key="seperateEntityFiles" value="true" />
		<add key="outDir" value="C:\dev\medicash\medit-cloud\BenefitAllowances\XrmMockupMetadata" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
	</startup>
</configuration> -->
 <!-- <configuration>
	<appSettings>
		<add key="url" value="https://peartreelive.crm11.dynamics.com/XRMServices/2011/Organization.svc" />
		<add key="mfaAppId" value="68db3c37-840b-4e44-b98f-60012160704f" />
		<add key="mfaClientSecret" value="2XN8Q~oTngLE1xc_UO6KPvyYn-ZSxiX1xL0sfcFW" />
		<add key="method" value="ClientSecret" />
		<add key="domain" value="" />
		<add key="ap" value="" />
		<add key="solutions" value="PearTreeCalcs" />
		<add key="entities" value="team,email,annotation,queue,organization"/>
		<add key="fetchFromAssemblies" value="false" />
		<add key="seperateFiles" value="false" />
		<add key="seperateEntityFiles" value="false" />
		<add key="outDir" value="C:\dev\PearTreeCalcs\CalcTests\Metadata" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
	</startup>
</configuration> -->
<!--<configuration>
	<appSettings>
		<add key="url" value="https://lc-dev.crm11.dynamics.com/XRMServices/2011/Organization.svc" />
		<add key="mfaAppId" value="6889e40d-e583-46d4-b7f0-9ba741ea2096" />
		<add key="mfaClientSecret" value="7B~8Q~o5JqslEHvIJfUAqkgOR.OB~Ag~hW2~3bx9" />
		<add key="method" value="ClientSecret" />
		<add key="domain" value="" />
		<add key="ap" value="" />
		<add key="solutions" value="LamexConnectBase,TraderNotes" />
		<add key="entities" value="team,email,annotation,queue,organization,uom,uomschedule,pricelevel"/>
		<add key="fetchFromAssemblies" value="false" />
		<add key="seperateFiles" value="true" />
		<add key="seperateEntityFiles" value="true" />
		<add key="outDir" value="../../../../../../../P365/Lamex/Plugins/Lamex.Plugins.Tests/Metadata" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
	</startup>
</configuration> -->
<configuration>
	<appSettings>
		<add key="url" value="https://p365-motabilitydev.crm11.dynamics.com/XRMServices/2011/Organization.svc" />
		<add key="mfaAppId" value="fbd5b8ba-dab5-4547-93a4-e4d23668c298" />
		<add key="mfaClientSecret" value=".bh8Q~sn7Angc5qVPg-byi67BqCIiKNJqFXdHdhY" />
		<add key="method" value="ClientSecret" />
		<add key="domain" value="" />
		<add key="ap" value="" />
		<add key="solutions" value="EarlyBound" />
		<add key="entities" value="team,email,annotation,queue,organization,uom,uomschedule,pricelevel,sharepointdocumentlocation,task,sharepointsite,p365_sharepointconfiguration"/>
		<add key="fetchFromAssemblies" value="false" />
		<add key="seperateFiles" value="true" />
		<add key="seperateEntityFiles" value="true" />
		<add key="outDir" value="../../../../../../../P365/Motability/GMS2/Plugins/MOTA.GMS.Plugins.Tests.462/Metadata" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
	</startup>
</configuration>

<!-- <configuration>
	<appSettings>
		<add key="method" value="ConnectionString" />
		<add key="connectionString" value="AuthType=OAuth;Username=admin@mxtransform.onmicrosoft.com;Password=TjEJ#GCf#iFRQsAFlF!5Wm06F3Ufl8#V;Url=https://mxtransform.crm11.dynamics.com;RequireNewInstance=true;AppId=51f81489-12ee-4a9e-aaae-a2591f45987d;RedirectUri=app://58145B91-0C36-4500-8554-080854F2AC97" />
		<add key="solutions" value="mxrecruit" />
		<add key="entities" value="team,email,annotation,queue,organization,msdyn_decisioncontract"/>
		<add key="fetchFromAssemblies" value="false" />
		<add key="seperateFiles" value="true" />
		<add key="seperateEntityFiles" value="true" />
		<add key="outDir" value="C:\dev\Mercury\XrmMockupMetadata" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
	</startup> 
</configuration> -->


