<?xml version="1.0" encoding="utf-8"?>
<!--<configuration>
  <appSettings>
    <add key="url" value="https://moddatdev.crm11.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="username" value="ppsa-donotreply@official.mod.uk" />
    <add key="password" value="Handbag Scallop Overfed Pelt Chlorine1" />
    <add key="domain" value="" />
    <add key="ap" value="" />
    <add key="solutions" value="ApprovalsPluginSteps,ApprovalsEntities,ApprovalsPlugins" />
    <add key="entities" value="team,email,teamtemplate,contact,knowledgearticle,cams_commitmentcase,cams_businesscase,annotation,queue"/> 
    <add key="fetchFromAssemblies" value="false" />
    <add key="projectPath" value="C:\dev\MOD\Digital Approvals\Plugins\MoD.DigitisingApprovals.TestSuite" />
    <add key="outDir" value="C:\dev\MOD\Digital Approvals\Tests\Metadata" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration> -->

<configuration>
  <appSettings>
    <add key="url" value="https://medit-cloud-dev.crm11.dynamics.com/XRMServices/2011/Organization.svc" />
	  <add key="username" value="ppsa-donotreply@official.mod.uk" />
	  <add key="password" value="Handbag Scallop Overfed Pelt Chlorine1" />
	  <add key="mfaAppId" value="02a93f19-e024-4db6-8643-eaffc90d005e" />
	  <add key="mfaClientSecret" value="5pd8Q~AwPwSXVTzeD1_xV0ucLWLFrDZKCe4P9dyq" />
	  <add key="method" value="ClientSecret" />
	  <add key="domain" value="" />
    <add key="ap" value="" />
	  <add key="solutions" value="MCPluginSteps,MCTables,MCPlugins" />
	  <add key="entities" value="team,email,annotation"/>
	  <add key="fetchFromAssemblies" value="false" />
	  <add key="seperateFiles" value="true" />
	  <add key="seperateEntityFiles" value="true" />
	  <add key="outDir" value="C:\dev\MOD\Horizon\Tests\Horizon.TestSuite\Metadata" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>


